html{
    /*以iPhone6为基准 375/15px = 25*/
    font-size:15px;
}
#pageone{
   background-color: #666666;
}
.flex-container1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;/*row-reverse*/
    flex-direction: row;/*row-reverse*/
    -webkit-justify-content: space-around;/*flex-start flex-end center space-between*/
    justify-content: space-around;/*flex-start flex-end center space-between*/
    width: 100%;
    height: 50%;
    margin-top: 2%;
}
.flex-container2 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;/*row-reverse*/
    flex-direction: row;/*row-reverse*/
    -webkit-justify-content: space-around;/*flex-start flex-end center space-between*/
    justify-content: space-around;/*flex-start flex-end center space-between*/
    width: 100%;
    height: 50%;
    margin-top: 5%;
}
.flex-item {
    border: 1px solid black;
    width: 90px;
    height: 90px;
    margin: 1.8%;
}
.a{
    width: 72%;
    height: 8%;
    float: inherit;
    margin: 2%;
}
.btn1{
    font-size: 110%;
    margin-left: 28%;
    height: 9.2%;
    float: left;
    width:25% !important;
}
.btn2{
    font-size: 110%;
    height: 9.2%;
    float: right;
    width:25% !important;
}
